@media only screen and (min-width: 500px) {
    header, main, footer {
        margin: 0 auto;
    }

	nav {
		width:70% !important;
		margin: 0;
	}

  main>img {
    width: 100%;
  }

	#menu {
		display: none; 
	}

    .navigation {
        position: static;
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background-color: transparent;
        width: auto;
        margin-left: auto;
      }
    
      .navigation a {
        display: block;
        padding: 0.5rem .7rem;
        color: var(--contrast);
        text-align: center;
      }
    
      .navigation.open {
        display: flex;
      }

      /* ********** Main CSS ********** */

      .event-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
      }

      .dashboard {
        grid-template-columns: repeat(3, 1fr);
      }

      .saved-events {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
      }
}